<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Info about the Calorie calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>This Calorie calculator uses the <a href="http://manytools.org/handy/bmr-calculator/">Harris-Benedict</a> formula to calculate
      one's daily calories. This is one of many ways to calculate, which means
      there might be a slight difference between this and other ways to calculate
      the ammount of daily calories. <span>This calorie calculator is directional.</span>
    </p>
  </ion-item>
</ion-content>
