<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your Calorie Goal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <!-- Your BRM (Basal Metabolic Rate) is {{kcalService.result | number: '1.0-0'}} <br> -->
      <p>Based on the information you gave, your daily calorie need is <span class="strong">{{kcalService.result * kcalService.activity | number: '1.0-0'}}.</span></p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <p>Give your calorie deficit. Remember! It is important that your
        daily calorie deficit stays in healty numbers. Over 1,000 calories daily deficit may have negative
        effects on your health.</p>
      
    </ion-item>
    <ion-item>
      <ion-label>Calorie Deficit</ion-label>
      <ion-input type="number" [(ngModel)]="caloriecut" placeholder="Here"></ion-input>
      <ion-range class="hidden-xs-down" pin="true" [(ngModel)]= "caloriecut" min="50" max="3000" step="1" snaps
      (ionChange)="calorieReduction()">
      <ion-icon slot="start" name="body-outline"></ion-icon>
      <ion-icon slot="end" name="body-outline"></ion-icon>
    </ion-range>
    
  </ion-item>
  <ion-item>
    <p>Your daily calorie goal is<span class="strong"> {{kcalService.newResult | number: '1.0-0'}}.</span></p>
  </ion-item>
  </ion-list>
 
</ion-content>
