<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calorie Calculator
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="show_info()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-input type="number" [(ngModel)]="weight" placeholder="Your Weight" required></ion-input>
    <ion-range class="hidden-xs-down" pin="true" [(ngModel)]= "weight" min="0" max="300" step="1" snaps
    (ionChange)="save_values()">
    <ion-icon slot="start" name="speedometer-outline"></ion-icon>
    <ion-icon slot="end" name="speedometer-outline"></ion-icon>
  </ion-range>
    
  </ion-item>
  <ion-item>
    <ion-label>Height</ion-label>
    <ion-input type="number" [(ngModel)]="height" placeholder="Your Height" required></ion-input>
    <ion-range class="hidden-xs-down" pin="true" [(ngModel)]= "height" min="0" max="300" step="1" snaps
    (ionChange)="save_values()">
    <ion-icon slot="start" name="body-outline"></ion-icon>
    <ion-icon slot="end" name="body-outline"></ion-icon>
  </ion-range>

  </ion-item>
  <ion-item>
    <ion-label>Age</ion-label>
    <ion-input [(ngModel)]="age" placeholder="give your age" required snaps
    (ionChange)="save_values()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="gender" placeholder="Select one" required snaps
    (ionChange)="save_values()">
      <ion-select-option value="female">Female</ion-select-option>
      <ion-select-option value="male">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Your activity</ion-label>
    <ion-select [(ngModel)]="activity" placeholder="Select one" multiple="false" cancelText="cancel" okText="okay" snaps
    (ionChange)="save_values()" required>
      <ion-select-option value="1.2">Sedentary</ion-select-option>
      <ion-select-option value="1.5">Light</ion-select-option>
      <ion-select-option value="1.7">Moderate</ion-select-option>
      <ion-select-option value="1.9">Active</ion-select-option>
      <ion-select-option value="2.2">Very Active</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button (click)="result()" size="default">Calculate your Calories</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="resetLocalStorage()" size="default">Reset values</ion-button>
  </ion-item>
</ion-list>
</ion-content>
